body {
    background: #bcf5d4;
  }
  
  .wrapper {
    margin-top: 280px;
  }  
  .btn {
    background: none;
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15.0px );
-webkit-backdrop-filter: blur( 15.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin: 16px auto;
    padding: 1.5em 5em;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }
  .btn::before
   {
    content: '';
    position: absolute;
    z-index: -1;
  } 
  .btn::after {
    content: '';
    position: absolute;
    height: 100%;
    left: -350px;
    top: 0px;
    transform: skew(40deg);
    -o-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition-duration: 1.0s;
    transform-origin: top left;
    width: 0;
    z-index: -1;
/* color */
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 6.8px );
    backdrop-filter: blur( 6.8px );
     border-radius: 10px;
    border: 1px solid rgba(134, 75, 75, 0.18);


    transition: all 0.7s;

  }
   .btn:hover {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 6.8px );
    backdrop-filter: blur( 6.8px );
     border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    border-radius: 15px;
  }
  .btn:hover:after { 
    width: 135%;
  }
  a{
    text-decoration: none;
    color: #000000;
}
.change-font{ 
  text-align: center;
  margin-top: 200px;
  font-size: 15px;
}
